.repair-section {
    padding: 100px 0;
    max-width:1450px;
    margin:auto;
    background: #f8fafc;
}

.repair-header {
    text-align: center;
    margin-bottom: 30px;
}

.repair-header span {
    color: #ff9800;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.repair-header h2 {
    margin-top: 12px;
    font-size: 42px;
    color: #222;
}

.repair-header p {
    max-width: 700px;
    margin: 20px auto 0;
    color: #666;
    line-height: 1.8;
    font-size: 17px;
}

.repair-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 30px;
}

.repair-card{

    position: relative;

    overflow: hidden;

    border-radius: 22px;

    box-shadow: 0 12px 35px rgba(0,0,0,.08);

    background: transparent;

    display: block;

}

.repair-card:hover{

    transform:translateY(-6px);

    box-shadow:0 18px 40px rgba(0,0,0,.15);

}

.repair-card:hover .repair-image{

    transform:scale(1.08);

}


.repair-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #222;
}

.repair-card p {
    color: #666;
    line-height: 1.7;
}

.repair-button-area {
    text-align: center;
    margin-top: 40px;
}

.repair-button {
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(135deg,#ff9800,#ff6f00);
    color: white;
    padding: 18px 55px;
    font-size: 18px;
    border-radius: 14px;
    font-weight: 700;
    transition: .3s;
}

.repair-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(255,152,0,.35);
}

@media(max-width:768px){

.repair-section{
    padding:60px 20px;
}

.repair-header h2{
    font-size:60px;
    font-weight: 800;
}

.repair-header p{
    font-size:15px;
}

.repair-card h3{
    font-size:22px;
}

}


.repair-image{

    width:100%;
    height:100%;

    object-fit:cover;

    display:block;

    margin: 0;

    padding: 0;

}

.repair-card:hover .repair-image{

    transform:scale(1.08);

}

.repair-image-container{

    position:relative;

    width:100%;

    height:260px;

    overflow:hidden;

    border-radius: 22px;

}

.repair-overlay{

    position:absolute;

    inset:0;

    display:flex;

    justify-content:center;

    align-items:flex-end;

    padding-bottom:24px;

    background:linear-gradient(
        to top,
        rgba(0,0,0,.65),
        rgba(0,0,0,.05),
        transparent
    );

}

.repair-overlay h3{

    margin:0;

    color:#fff;

    text-align:center;

    font-size:30px;

    font-weight:700;

    width:100%;

    text-shadow:0 2px 8px rgba(0,0,0,.5);

}

.repair-carousel{

    max-width:1320px;

    margin:auto;

}